@font-face {
    font-family: TradeGothicBold;
    src: url("./assets/Trade Gothic LT Bold.ttf");
}
:root {
    font-family: Roboto, sans-serif;
    --brandDarkBlue: #1470AF;
    --brandLightBlue: #8EB6DC;
    --brandRed: #AB1368; 
    --brandYellow: #F1C500;
    --brandGreen: #00a150;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: white;
    /* background-color: #e5e5f7; */
    /* opacity: 0.8; */
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    position: relative;
}

.blueprint {
    background-image: url("./blueprint-background.png");
    width: 100%;
    max-width: 1920px;
    height: calc(100vh - 20px);
    max-height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-white {
    width: 100%;
    max-width: 1920px;
    background-color: #ffffff;
    opacity: 1;
    background-size: 13px 13px;
    background-image: repeating-linear-gradient(45deg, #eaf5ff 0, #eaf5ff 1.3px, #ffffff 0, #ffffff 50%);
    border-top: solid 1px var(--brandLightBlue);
}

.line-chart {
    width: 100%;
    border-top: solid 1px var(--brandLightBlue);
    opacity: 1;
    background-color: var(--brandDarkBlue);
    background-size: 13px 13px;
    background-image: repeating-linear-gradient(-45deg, #eaf5ff05 0, #eaf5ff05 1.3px, var(--brandDarkBlue) 0, var(--brandDarkBlue) 50%);
    padding-top: 25px;
    padding-bottom: 25px;
}

.italic {
    font-weight: 700;
    font-style: italic;
}

.textSecondary {
    color: var(--brandRed);
    text-decoration: underline;
}

.textLaneway {
    color: var(--brandGreen);
    text-decoration: underline;
}

.title {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    color: white;
    text-align: center;
    position: relative;
    top: 28%;
    border: solid 1px var(--brandLightBlue);
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

.title h1 {
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    max-width: 430px;
    font-size: 60px;
    color: var(--brandDarkBlue);
    padding: 0px;
}

.title h2 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 28px;
    color: var(--brandDarkBlue);
}

.title p {
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 18px;
    width: 200px;
    text-align: center;
    color: var(--brandDarkBlue);
}

.title a {
    color: var(--brandDarkBlue);
}

.title a:hover {
    color: var(--brandRed);
}

.arrow {
    width: 100%;
    margin: 0 auto;
    margin-top: -16px;

    text-align: center;
    color: var(--brandDarkBlue);
}

.text {
    max-width: 640px;
    margin: 0 auto;
    color: var(--brandDarkBlue);
    font-family:  'Ubuntu Mono', monospace;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

