@font-face {
    font-family: TradeGothicBold;
    src: url("./Trade Gothic LT Bold.ttf");
}
@font-face {
    font-family: UbuntuMonoRegular;
    src: url("./UbuntuMono-Regular.ttf"); 
}
@font-face {
    font-family: UbuntuMonoItalic;
    src: url("./UbuntuMono-Italic.ttf"); 
}
@font-face {
    font-family: UbuntuMonoBold;
    src: url("./UbuntuMono-Bold.ttf"); 
}

:root {
    font-family: UbuntuMonoRegular, sans-serif;
    --brandDarkBlue: #1470ad;
    --brandLightBlue: #8EB6DC;
    --brandRed: #ab1269;
    --brandYellow: #F1C500;
    --brandTest: #273f75;

    --range-slider:          #8EB6DC; /* slider main background color */
    --range-handle-inactive: #ffffff; /* inactive handle color */
    --range-handle:          #ffffff; /* non-focussed handle color */
    --range-handle-focus:    #ffffff; /* focussed handle color */
    --range-handle-border:   var(--range-handle);
    --range-range-inactive:  var(--range-handle-inactive); /* inactive range bar background color */
    --range-range:           var(--range-handle-focus); /* active range bar background color */
    --range-float-inactive:  var(--range-handle-inactive); /* inactive floating label background color */
    --range-float: var(--range-handle-focus); /* floating label background color */
    --range-float-text:      white; /* text color on floating label */
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: #ffffff;
    opacity: 1;
    background-size: 13px 13px;
    background-image: repeating-linear-gradient(45deg, #eff5fc 0, #eff5fc 1.3px, #ffffff 0, #ffffff 50%);
    border-top: solid 1px var(--brandLightBlue);
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
    max-width: 1920px;
    position: relative;
}

a {
    color: var(--brandDarkBlue);
    opacity: 1;
}
a:hover {
    opacity: 1;
    color: var(--brandRed);
}

b {
    color: #002b8f;
    font-family: UbuntuMonoBold;
    /* font-style: italic; */
}


.blueprint {
    width: 100%;
    max-width: 1920px;
    height: calc(100vh - 20px);
    max-height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1920px) {
    .blueprint {
        background-attachment: fixed;
    }
}

.background-white {
    width: 100%;
    max-width: 1920px;
    background-color: #ffffff;
    opacity: 1;
    background-size: 13px 13px;
    background-image: repeating-linear-gradient(45deg, #eaf5ff 0, #eaf5ff 1.3px, #ffffff 0, #ffffff 50%);
    border-top: solid 1px var(--brandLightBlue);
}

.line-chart {
    margin: auto 0;
    width: 100%;
    border-top: solid 1px var(--brandLightBlue);
    opacity: 1;
    background-color: var(--brandDarkBlue);
    background-size: 13px 13px;
    background-image: repeating-linear-gradient(-45deg, #eaf5ff05 0, #eaf5ff05 1.3px, var(--brandDarkBlue) 0, var(--brandDarkBlue) 50%);
    padding-top: 25px;
    padding-bottom: 25px;
    min-width: 375px;

}

.italic {
    font-weight: 700;
    font-style: italic;
}


.title {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    color: white;
    text-align: center;
    position: relative;
    top: 28%;
    border: solid 1px var(--brandLightBlue);
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);
}

.title h1 {
    margin: 0 auto;
    font-family: UbuntuMonoBold;
    /* font-weight: 700; */
    max-width: 470px;
    font-size: 45px;
    color: var(--brandDarkBlue);
    padding: 0px;
}

.title h2 {
    padding-top: 20px;
    margin: 0 auto;
    font-family: UbuntuMonoRegular;
    font-weight: 400;
    max-width: 450px;
    font-size: 28px;
    line-height: 30px;
    color: var(--brandDarkBlue);
}

@media only screen and (max-width: 920px) {
    .title h1 {
        font-size: 42px;
    }
    .title h2 {
        font-size: 18px;
        line-height: 30px;
    }
}

.title p {
    margin: 0 auto;
    font-family: UbuntuMonoRegular;
    font-weight: 400;
    font-size: 18px;
    max-width: 380px;
    text-align: center;
    color: var(--brandDarkBlue);
    line-height: 22px;
}

.arrow {
    width: 100%;
    margin: 0 auto;
    margin-top: -16px;
    text-align: center;
    color: var(--brandDarkBlue);
}

.text {
    max-width: 720px;
    margin: 0 auto;
    color: var(--brandDarkBlue);
    font-family:  UbuntuMonoRegular;
    font-weight: 400px;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.text h3 {
    font-family: UbuntuMonoRegular;
    font-size: 22px;
    color: #002b8f;
    text-decoration: underline;
}

.text h4 {
    font-family: UbuntuMonoRegular;
    font-size: 18px;
    color: #002b8f;
    text-decoration: underline;
}

.construction {
    color: var(--brandRed);
    background-color: rgba(255, 255, 255, 0.591);
    font-size: 24px;
    border: solid 1px var(--brandRed);
    padding: 10px;
}

.definition {
    background-color: #ffffffb6;
    opacity: 0.9;
    border: solid 1px var(--brandLightBlue);
    padding: 10px;
    padding-left: 15px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 22px;
}


.rangeSlider {
    height: 2px;
    font-family:  UbuntuMonoRegular;
    font-weight: 400px;
    font-size: 15px;
}

.rangeSlider .rangeBar {
    height: 4px;
    transform: translateY(-1px);
}

.rangeSlider .rangeHandle {
    /* height: 10px; */
    margin: 0px;
    padding: 0px;
}

.rangeSlider > .rangeHandle {
    transform: translateY(-39%) translateX(-21%);
}

.rangeSlider > .rangeHandle:hover {
    cursor: pointer;
}

.rangeSlider > .rangeHandle > .rangeNub {
    border-radius: 2px;
    margin-top: 2px;
    margin-left: 4px;
    height: 15px;
    width: 15px;
    transform: rotate(0);
}

.rangeSlider > .rangePips > .pip {
    background-color: var(--brandLightBlue);
}

.rangeSlider > .rangePips > .pip > .pipVal {
    color: var(--brandLightBlue);
}  

.rangeSlider > .rangePips > .pip.in-range > .pipVal {
    color: white;
}  

.rangeSlider > .rangePips > .pip.selected > .pipVal {
    color: white;
}  



